<h1>estoque:</h1>

<ul class="products-list">
  {{#if noProducts}}
    <p>Não há produtos no estoque.</p>
  {{/if}}
  {{#each products}}
    <li>
      <div class="product-item">
        <a href="/products/edit/{{this.id}}">
          <div class="product-icon">
            <img src="/images/hanger.png" alt="hanger-icon" width="250" />
          </div>
          <div class="product-info">
            <h3 class="title">{{this.name}}</h3>
            <div class="info">
              <p>Cor: {{this.color}}</p>
              <p>Valor unitário: R${{this.unit_price}}</p>
              <p>Valor total em estoque: R${{this.total_stock_value}}</p>
            </div>
          </div>
        </a>
      </div>

      <span class="actions">
        <a href="/products/edit/{{this.id}}"><i
            class="bi bi-pencil-square"
          ></i></a>
        <form action="/products/remove" method="POST">
          <input type="hidden" name="id" value={{this.id}} />
          <button type="submit">
            <i class="bi bi-x-lg"></i>
          </button>
        </form>
      </span>
    </li>
  {{/each}}
</ul>